.board-cell {
    background-color: #E0E0E0;
    height: 60px;
    width: 60px;
    align-content: center;
}

.game-board-table {
    margin: auto;
    margin-top: 3rem;
}

.game-external-stack-ui {
    margin: auto;
    margin-top: 2rem;
}