.board-cell {
    background-color: #E0E0E0;
    border: solid 2px #FEFEFE;
    height: 65px;
    width: 65px;
    align-content: center;
    cursor: pointer;
}

.board-cell.selected {
    background-color: #3F51B5;
}

.board-cell.last-selection-target {
    border: solid 4px #3F51B5;
}

.board-cell.last-selection-source {
    border: solid 3px #9FA8DA;
}


.game-board-table {
    margin: auto;
    margin-top: 2rem;
    border-collapse: collapse;
}

.game-external-stack-ui {
    margin: auto;
    margin-top: 2rem;
    border-collapse: collapse;
}