.gobblet {
    width: 0;
    height: 0;
    margin: auto;
}

.gobblet-W {
    background-color: #FEFEFE;
    border: solid 3px #212121;
    box-shadow: 0px 3px 0 #212121;
}

.gobblet-B {
    background-color: #212121;
    border: solid 3px #BDBDBD;
    box-shadow: 0px 3px 0 #212121;
}

.gobblet-0 {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.gobblet-1 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.gobblet-2 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}